.googleButtonWrapper {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.googleButtonWrapper > div {
    width: 100% !important; /* Force override library styles */
}

.googleButtonWrapper iframe {
    margin: 0 auto !important;
}

.orSeparator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text-color-light);
    margin: 1rem 0;
}

.orSeparator::before,
.orSeparator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--border-color);
}

.orSeparator:not(:empty)::before {
    margin-right: .5em;
}

.orSeparator:not(:empty)::after {
    margin-left: .5em;
}